/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

body {
    margin: -24px auto;
}


.color {
  background-color: #A9D159;
 	margin: 0;
}


.second-header {
    background-color: #ffa965;
}

.top-image {
    background-image: image-url("top-image.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    text-align: center;
    opacity: 0.9;
}

.top-text {
    margin-top: 90px;
    color: white;
    display: inline-block;
    background: green;
}

.top-logo {
    color: white;
    margin-bottom: none;
}

.rank-container {
    background:  #A9D159;
    padding: 5px;
}

.index_image {
    max-width: 100%;
    height: auto;
}

.post_img {
    max-width: 100%;
    height: auto;
}

.profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_mini {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}