<div class="container pb-5 mt-4">
  <p class="text-danger"><%= flash[:alert] %></p>
  <h2><strong>投稿一覧</strong></h2>
    <div class="row ml-1">
      <%= render "public/searches/allsearch", menus: @menus %>
    </div>
</div>
